{% extends 'base.html.twig' %}

{% block title %}Récompenses{% endblock %}

{% block body %}

<h1>Shootfighter </h1>
<body>
<h1>Récompenses </h1>


{% for recompense in recompenses %}


    {{ recompense.nom }} <br>
    {{ recompense.description }}<br>
    <img src="{{ asset('images/recompense/' ~ recompense.imageName) }}" alt="image goodie"height="400px"
         width="300px">
    <br>

{% endfor %}

    <button class="btn btn-link btn-secondary" type="submit">
        <a href="{{ path('app_tournois') }}" title = "tournois">Tournois</a>
    </button>
</body>
{% endblock %}



