{% extends '../base.html.twig' %}
{% block title %} Calendrier {% endblock %}

{% block body %}

    {%  block stylesheets %}
        <style>
            #calendrier {
                width: 60%;
                margin: auto;
            }
        </style>
        {% endblock %}
    <div id="calendrier">

    </div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev, next today',
                center: 'title',

            }
        })
        calendar.render()
    }
</script>
{% endblock %}