body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: top;
    color: #EEE;
    font-family: 'Crimson Text', serif;
}

/*
bloc conteneur
*/
.container {
    margin-top:1.7%;
    margin-left:-13px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*
Barre de navigation
 */
nav {
    text-align: right;
    width:110%;
    margin-top: -3%;
    font-size: 120%;
    background-color: black;
    background-size: 190%;
}
nav ul {
    text-align:right;
    width: 100%;
    height: 83px;
    background-color: black;
    list-style: none;
}

nav li {
    text-align: right;
    width: 14%;
    float: left;
    font-size: 23px;
    color: yellow;

}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav a{
    text-align: center;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 0.9em;
    width: 100%;
    color: yellow;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid orange;
}





/*
Pages tournois.html.twig
 */

#titre-recompenses{
    position: relative;
    top: -750px;
    text-align:center;
    font-size: 30px;
    width: 500px;
    height: 40px;
    padding: 30px;
    background: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
.tournois {
    text-align:center;
    position: relative;
    top: -200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: auto;
}
#titre-tournois {
    position: relative;
    top: -500px;
    text-align:center;
    font-size: 30px;
    width: auto;
    height: 40px;
    padding: 30px;
    background: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
#image-tournois{
    text-align:center;
    position: relative;
    top: -500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
  }

.btn-tournois{
    top: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/*
Page tournoisDetail.html.twig
 */

.detail {
    text-align:center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -200px;
    right: 150px;


}
#titre-detail {
    position: relative;
    top: -500px;
    text-align:center;
    font-size: 30px;
    width: 700px;
    height: 40px;
    padding: 30px;
    background: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
#places{
    position: relative;
    top: -500px;
    text-align:right;
    left: 300px;
    font-size: 30px;
    height: 40px;
    padding: 30px;

}

.btn-detail{
    top: -600px;
    width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#tournois-detail{
    width: 800px;
    top: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}


/*
Page recompenses.html.twig
 */
.recompenses {
    text-align:center;
    position: relative;
    top: -600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: auto;
}


/*
Profil utilisateur
 */



.afficherUtilisateur{
    background-color: pink;
}
/*
Bas de page
 */
.footer{
    background: linear-gradient(#000000, #132135);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    position: relative;
    bottom: -10%;
    left: -10px;
    width: 101%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 70px 70px 65px 60px ;
}

.footer .footer-left,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer .footer-left{
    width: 60%;
}

/* Footer links */

.footer .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    color:  inherit;
}
.footer .footer-links a:hover{
    color: yellow;

}

.footer .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer .footer-right{
    width: 20%;
    margin-right: 20px;
}

.footer .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-about span{
    display: block;
    color:  white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: -50px;
}
