body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: top;
    color: #EEE;
    font-family: 'Crimson Text', serif;
}

/*
bloc conteneur
*/
.container {
    max-width: 1300px;
    margin: auto;
    padding: 18px;
    min-height: 90vh;

}


/*
Barre de navigation
 */

ul {
    background-color: black;
    width: 1600px;
    display : flex;
    height : 80px;
    margin-top: -50px;
    margin-left: -200px;

    justify-content: center;
    list-style: none;
}

nav a{
    justify-content: center;
    text-decoration: none;
    position: relative;
    height: 50px;
    color: navajowhite;
    padding: 5px 41px;
    font-size: x-large;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid orange;
}

/*
Bloc contenant le texte d'actualité
 */
#texte-actu {
    width: 40%;
    height: 300px;
    text-align: justify;
    position: center;
    opacity: 0.75;
    background: #222d35;
    display : flex;
    left:20px;
    margin-left: 750px;
    margin-top:250px;

}
#titre-actu{
    font-size: xx-large;
    text-align: center;
    position: absolute;
    padding:10px;
    margin-top: 2px;
    margin-left: 5%;
    font-weight: bold;

}

/*
Paragraphe actualité
 */
#p-actu{
    margin-top: 90px;

    display: inline-flex;
    text-align: justify;
    margin-left : 50px;
    margin-right: 250px;
    position: absolute;

}
/*
Date création de l'actualité
 */
#actu-createdAt{
    text-align: justify;
    display: inline-flex;
    margin-top: 200px;
    margin-left: 68px;
    position: absolute;
}

#image-actu{
    text-align: center;
    margin-top: -298px;
    width: 70%;
    margin-left: -45px;
}

#image-actu:hover{
    width:71%;
}

/*
Page tournois.html.twig
 */
.tournois {
    text-align:center;
    position: relative;
    top: -200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

/*
Bloc de titre de chaque tournoi sur tournois.html.twig
 */
#titre-tournois {
    position: relative;
    top: -495px;
    font-size: 30px;
    border-radius: 10px;
    width: 540px;
    height: 40px;
    padding: 30px;
    background: darkslategrey;
    margin-left: 348px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}
/*
Texte du bloc de titre dans tournois.html.twig
 */
#p-tournois{
    top:-50px;
    position: relative;

}
/*
bouton de la page tournois.html.twig pour envoyer vers le détail du tournoi
 */
.btn-tournois{
    top: auto;
    border-radius: 10px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}
/*
l'image qui sert de bouton sur la page tournois.html.twig
 */
#image-tournois{
    text-align:center;
    position: relative;
    top: -500px;
    border-radius: 10px;
    margin-left: 349px;
    margin-right: auto;
    margin-top: auto;
    width: 560px;

}


/*
Page tournoisDetail.html.twig
 */

.detail {
    text-align:center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -200px;
    right: 150px;


}
#bloc-titre-detail {
    position: relative;
    top: -340px;
    text-align:center;
    border-radius: 10px;
    font-size: 30px;
    right: 150px;
    width: 590px;
    height: 40px;
    padding: 30px;
    background: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

}

#titre-detail{
    position: relative;
    top: -50px;

}

.btn-detail-user{
    top: -580px;
    width: auto;
    right: 150px;
    position: relative;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.btn-detail-not-user{
    top: -580px;
    width: auto;
    right: 150px;
    position: relative;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.presentation-tournoi{
    text-align: justify;
    display: flex;
    height: 200px;
    border-radius: 10px;
    right: -555px;
    margin-left:300px;
    position: relative;
    width : 600px;
    top: -320px;
    font-size: 21px;
    background: #222d35;
    background-size: 610px;

}

#p-places{
    position: relative;
    display: block;
    width : 600px;
    margin-left: 855px;
    top: -270px;
    border-radius: 10px;
    font-size: 18px;
    height: 40px;
    background: #222d35;
}
#p-tournoi{
    text-justify: auto;
    margin-right : 50px;
    margin-left : 50px;
}



/*
Page recompenses.html.twig
 */


#titre-recompenses{
    position: relative;
    top: -795px;
    text-align:center;
    font-size: 30px;
    width: 498px;
    height: 42px;
    padding: 30px;
    border-radius: 10px;
    background: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;

}
.recompenses {
    text-align:center;
    position: relative;
    top: 197px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    margin-top: auto;
}

#description-recompense{
    position: relative;
    top : -800px;
    bottom:0;
    background-color: grey;
}

#image-recompense{
    position: relative;
    top: -820px;
    width: 698px;
    margin-left: 300px;
}
/*
Bas de page
 */
.footer{
    background: linear-gradient(#000000, #132135);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    position: relative;
    bottom: -10px;
    left: -10px;
    width: 101%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 70px 70px 70px 70px ;
}

.footer .footer-left,
.footer .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer .footer-left{
    width: 60%;
}

/* Footer links */

.footer .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    color:  inherit;
}
.footer .footer-links a:hover{
    color: yellow;

}

.footer .footer-company-name{
    color:  white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer .footer-right{
    width: 20%;
    margin-right: 20px;
}

.footer .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-company-about span{
    display: block;
    color:  white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: -50px;
}


@media screen and (max-width: 2400px)
{
    #banniere  {
        margin-top: -590px;
    }
    #texte-actu{
        margin-top: 200px;
    }

}