body {
    background-image: url("images/imageRegister.png");
    background-position: center;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 18px;
    min-height: 100vh;

}
/*
en-tête formulaire de connexion : login.html.twig
*/
#titre-connexion{
    font-size: 19px;
    text-align:center;
    margin-bottom: auto;
    margin-top: auto;
}
/*
formulaire de login
*/

#form-login{
    width: 400px;
    height: 550px;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -13%;
    position: absolute;
    margin-top: -10%;
}
/*
champs formulaire de connexion : login.html.twig
 */

span {
    text-align: center;
    width: 61%;
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    margin-left : 63px;
}

#remember_me{
    margin-left: 35px;
}
label {
    text-align: center;
}

/*
bouton formulaire connexion : login.html.twig
 */
button {
    text-align: center;
    position: relative;
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    top: 20px;
    left: 70px;
    width: 60%;
    padding: 9px;
    margin: 5px;
    cursor: pointer;
    color: darkgreen;
    text-decoration: none;
}

button:hover{
    transform: translate(-2px, -2px);
    color: purple;
}
button:hover:before{
    transform: translate(5px, 5px);
}

.label-connexion{
    color: darkgreen;
    text-decoration: none;
}
.label-connexion:hover{
    transform: translate(-2px, -2px);
    color: purple;
    text-decoration: none;
}
#creation-compte {
    color: yellow;
    font-size: 19px;
    text-decoration: none;
}
#creation-compte:hover {
    transform: translate(-2px, -2px);

}
a{
    text-decoration: none;
}

/*
Formulaire de création de compte : emailregister.html.twig
*/
#titre-register{
    font-size:19px;
    text-align:center;
    margin-bottom: auto;
    margin-top: auto;
}

#form-register{
    width: 400px;
    height: 550px;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -13%;
    position: absolute;
    margin-top: -10%;
}


/*
Formulaire d'inscription à un tournoi
 */

#titre-inscription{
    text-align:center;
    margin-bottom: auto;
    margin-top: 20px;
}

.texte-gauche{
    float:left;
    top: 100px;
    width : 45%;

}
.texte-droite{

    float:right;
    width: 50%;
}
#inscription-tournoi{
    width: 36%;
    height: 695px;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    margin-left: -20%;
    position: absolute;
    margin-top: -38%;

}
.label-register{
    color: darkgreen;
    text-decoration: none;
}
.label-register:hover{
    transform: translate(-2px, -2px);
    color: purple;
}

/*
Formulaire de contact : contact.html.twig
 */

#titre-contact{
    text-align:center;
    margin-bottom: auto;
    margin-top: 20px;
}

#form-contact{
    width: 30%;
    height: 85%;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -18%;
    position: absolute;
    margin-top: -10%;
}


#contact{
    background: linear-gradient(#000000, #132135);
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border:none;
    border-radius: 5px;
    outline:none;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-contact-valider{
    margin-left: 8px;

}

.btn-contact-retour{
    margin-left: 8px;

}

/*
Formulaire mot de passe oublié : contact.html.twig
 */

.form-reset-password-request{
    background: linear-gradient(#000000, #132135);
    display: flex;
    position: center;
    height: 170px;
    width : 300px;
    padding : 8px;
    border-radius: 5px;
    margin-top: -550px;
    margin-left: 450px;
}

.form-reset-password{
    background: linear-gradient(#000000, #132135);
    position: absolute;

    height: 260px;
    width : 400px;
    padding : 8px;
    border-radius: 5px;
    margin-top: -550px;
    margin-bottom: auto;
    margin-left: 500px;
}
