/*
Fond d'écran de la page
 */
body {
    background-image: url("images/photoTournois5.png");
    background-position: center;/* */
    background-attachment: fixed;/* */
}
/*
bloc conteneur
*/
.container {
    display: flex;
    min-height: 55vh;/*Hauteur minimum */
    bottom: auto;
}
/*
Page d'affichage du profil utilisateur : afficherUtilisateur.html.twig
 */
#titre-afficherprofil{
    text-align:center;/*texte centré */
    margin-top: -47px;/*Marge du haut*/
    font-size: 35px; /*Taille écriture */
    border-radius: 10px;/* Bords arrondis*/

}
/*
Fond de l'affichage des données de l'utilisateur
 */
#afficherprofil{

    width: 90%;/*Largeur */
    height: 95%;/*Hauteur */
    opacity:0.96;/* Transparence */
    background: linear-gradient(#000000, #132135);
    color: white;/*Couleur d'écriture */
    border-radius: 10px;
    right: 100px;/*Pour centrer le bloc*/
    top: 150px;/*Pour centrer le bloc*/
    position: absolute;/*Permet d'utiliser top, bottom, right et left*/
}
#avatar-profil{
    margin-top: -10px;
    margin-left: 80px;
}
#donnees-utilisateur{
    text-align: center;
    font-size: 20px;
    margin-top: -400px;
    width: 55%;
    margin-left: 360px;
}

.btn-monprofil-modifier{
    text-align: center;
    margin-top: -400px;
    margin-left: 570px;
    width: 20%;
}
/*
Liste participations à des tournois sur afficherUtilisateur.html.twig
 */

/*
Titre tableau de participations dans afficherUtilisateur.html.twig */
caption {
    font-size: 35px;
}

/*Tableau */
table {
    margin-top: 100px;
    margin-left: 190px;
    text-align: center;
    width: 75%;
    border-collapse: collapse;
    border: 2px solid purple;

}
/*En-tête du tableau*/
thead{
    text-align: center;
    font-size: 25px;
    width: 20px;
    border-collapse: collapse;/*Bordures communes*/
    border: 1px solid purple;/*Couleur bordures*/
    background-color:black;
}

/*
Permet de styliser séparément chaque en-tête du tableau*/
thead th:nth-child(1) {
    border: 1px solid purple;
    width: 30%;
    margin-bottom: 20px;
}
thead th:nth-child(2) {
    border: 1px solid purple;
    width: 30%;
}

thead th:nth-child(3) {
    right: 50%;
    width: 30%;
}

thead th:nth-child(4) {
    width: 15%;
}

/*
taille cellules du tableau de participations
 */
td{

    padding: 13px;
}
/*
tout le contenu du tableau de participations
 */
tbody tr{
    text-align: center;
}
/*
couleur de fond qui alterne à chaque ligne (2n) pour les lignes paires et (2n+1) pour les lignes impaires
 */
tbody tr:nth-child(2n+1) {
    background-color: #4d4d4d;
}

tbody tr:nth-child(2n) {
    background-color: grey;
}
.btn-desinscrire{
    width: 20%;
    color: black;
    margin-top: 250px;
}

/*
Page de modification du profil utilisateur : monProfil.html.twig
 */
#titre-monprofil{
    text-align:center;
    margin-bottom: 8px;
    margin-top: auto;
}
#form-monProfil{
    position: absolute;
    width: 30%;
    height: 83%;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 45%;
    top: 35%;
    margin-left: -10%;
    margin-top: -10%;
    bottom: 200px;
}
/*
boutons de la page monProfil.html.twig
 */
.btn-monprofil-annuler{
    width: 50%;
    margin-top : -20px;
    margin-left: 50px;
    text-align: center;


}
.btn-monprofil-valider{
    width: 50%;
    margin-top : -20px;
    margin-left: 50px;
    text-align: center;
}

span{
    text-align: center;
    width: 50%;
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    margin: auto;
}
button {

    text-align: center;
    position: relative;
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    top: 10px;
    left: 93px;
    width: 55%;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: #4ade80;
}



