body {
    background-image: url("images/imageRegister.png");
    background-position: center;
}
/*
en-tête formulaire de connexion : login.html.twig
*/
#titre-connexion{
    text-align:center;
    margin-bottom: auto;
    margin-top: auto;
}
/*
formulaire de login
*/

#form-login{
    width: 400px;
    height: 60%;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -10%;
    position: absolute;
    margin-top: -10%;
}
/*
champs formulaire de connexion : login.html.twig
 */

span {
    text-align: center;
    width: 60%;
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    margin: auto;
}

#remember_me{
    margin-left: 35px;
}
label {
    text-align: center;
}

/*
bouton formulaire connexion : login.html.twig
 */
button {

    text-align: center;
    position: relative;
    display: inline-block;
    background-color: transparent;
    font-size: 15px;
    top: 20px;
    left: 70px;
    width: 60%;
    padding: 9px;
    margin: 5px;
    cursor: pointer;
    color: #4ade80;
}

button:hover{
    transform: translate(-2px, -2px);
}
button:hover:before{
    transform: translate(5px, 5px);
}
/*
Formulaire de création de compte : register.html.twig
*/
#titre-register{
    text-align:center;
    margin-bottom: auto;
    margin-top: auto;
}

#form-register{
    width: 400px;
    height: 60%;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -10%;
    position: absolute;
    margin-top: -10%;
}


/*
Formulaire d'inscription à un tournoi
 */

#titre-inscription{
    text-align:center;
    margin-bottom: auto;
    margin-top: 20px;
}
.select-tournois{

}
.texte-gauche{
    float:left;
    top: 100px;
    width : 45%;

}
.texte-droite{

    float:right;
    width: 50%;
}
#form-inscription{
    width: 30%;
    height: 75%;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -20%;
    position: absolute;
    margin-top: -10%;

}
.btn-inscription-valider{

    left: 100px;
}
.btn-inscription-retour{

    left: 100px;
}

/*
Formulaire de contact : contact.html.twig
 */

#titre-contact{
    text-align:center;
    margin-bottom: auto;
    margin-top: 20px;
}

#form-contact{
    width: 30%;
    height: 65%;
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    background-size: 100px;
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -20%;
    position: absolute;
    margin-top: -10%;
}


#contact{
    background: linear-gradient(#000000, #132135);
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border:none;
    border-radius: 5px;
    outline:none;
    margin-top: auto;
    margin-bottom: auto;
}
