body {
    background-image: url("images/imageRegister.png");
    background-position: center;
}
/*
en-tête formulaire
*/
#header{
    text-align:center;
    margin-bottom: auto;
    margin-top: auto;
}
/*
champs formulaires
 */
span{
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    margin-top: auto;
    margin-bottom: auto;
}
/*
boutons formulaires
 */
button {
    display: inline-block;
    position: relative;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin: 5px;
    color: #4ade80;
}

button:hover{
    transform: translate(-2px, -2px);
}
button:hover:before{
    transform: translate(5px, 5px);
}

#choisir-recompense{
    display : block;
}
/*
formulaire de login
*/
#form-login{
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -10%;
    position: absolute;
    margin-top: -10%;
}
#form-contact{
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    margin-left: -10%;
    position: absolute;
    margin-top: -10%;
}


#form-register{
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 42%;
    margin-left: -10%;
    position: absolute;
    margin-top: -10%;
}
#form-inscription{
    opacity:0.96;
    background: linear-gradient(#000000, #132135);
    color: white;
    border-radius: 10px;
    left: 50%;
    top: 42%;
    margin-left: -10%;
    position: absolute;
    margin-top: -10%;

}

#contact{
    background: linear-gradient(#000000, #132135);
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border:none;
    border-radius: 5px;
    outline:none;
    margin-top: auto;
    margin-bottom: auto;
}


