body {
    background-image: url("images/imageRegister.png");
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Text', serif;
}
form{
    opacity:0.96;
    margin-top: 100px;
    background: linear-gradient(#000000, #132135);
    color: white;
    padding: 50px 60px;
    border-radius: 10px;
    min-width: 300px;
}
div .header{
    text-align:center;
    font-size: 33px;
    margin-bottom: auto;
    margin-top: 50%;
}

span{
    display: flex;
    position: center;
    flex-direction: column;
    padding: 10px;
    border:none;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    outline:none;
    margin-top: auto;
    margin-bottom: auto;
}

#username{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    outline:none;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}
 #email{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    outline:none;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
}
#plainPassword{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(#000000, #132135);
    outline:none;
    margin-bottom: auto;
    margin-top: auto;
}

button {
    display: inline-block;
    position: relative;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin: 5px;
    color: #4ade80;
}


button:hover{
    transform: translate(-2px, -2px);
}
button:hover:before{
    transform: translate(5px, 5px);
}