{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset ('css/register_login.css') }}">
<h1>Bienvenue!</h1>
<p>Bonjour {{ username }},
<p>Votre inscription sur le site de shootfighter est confirmée.</p>
{%  endblock %}